body {
  height: 100%;
}

.banner {
  background: url(../../public/images/sunrise.jpg) center center no-repeat;
  height: 80vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.backgroundBox {
  background-color: rgb(117, 155, 190);
  padding: 30px 0px;
  opacity: 0.8;
}

#message1 {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  color: white;
}

#message2 {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-size: 3vw;
  color: white;
}