body {
  background-color: rgb(251, 248, 255);
}

.contain{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3%;
}

.profilePic {
  height: 45vh;
  width: auto;
  border-radius: 15%;
}

.aboutSection {
  font-family: 'Lato', sans-serif;
  margin-top: 2%;
}